body {
    background-color: grey;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: #7fffd4; */
    background-color: #e3f4d5;
    width: 400px;
    border: 4px ridge #7fffd4;
    padding: 20px;
}

img {
    width: auto;
    height: 200px;
}

input {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.cap {
    text-transform: capitalize;
}

.hide {
    /* display: none; */
    visibility: hidden;
}